.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__header,
  &__footer {
    flex-shrink: 0;
  }

  &__main {
    flex-grow: 1;
    padding-top: 80px;
  }

  &__footer {
    padding-top: 20px;
    border-top: 1px solid $gray;
  }
}
