<div class="col text-center">
  <h4 class="mb-4"><%= t ".cart_empty" %></h4>
  <%= link_to root_path, class:"btn btn-primary" do %>
    <i class="fas fa-chevron-left"></i> <%= t ".go_to_shop" %>
  <% end %>
</div>
