<div class="col-3 mb-2">
  <div class="card h-100 shadow">
    <%= image_tag("https://picsum.photos/200", {
      alt: "product image",
      class: "card-img-top"
    }) %>
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <p class="card-tetxt"><%= number_to_currency product.price, precision: 0 %></p>
      <%= link_to t(".detail"), "#", {
        class: "btn btn-primary stretched-link shadow"
      } %>
    </div>
  </div>
</div>
