<!DOCTYPE html>
<html>
  <head>
    <title>DnOe45Ecomerces</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= render "shared/rails_default" %>
  </head>

  <body>
    <div class="app container-fluid">
      <%= render "shared/header" %>
      <main class="app__main mt-5">
        <div class="container">
          <%= yield %>
        </div>
      </main>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
